<div class="protocol" #contentContainer>
    <div class="container-fluid">
        <ngx-swiper swiperContainerId="protocol-slider" [config]="config">
            <swiper-container #swiper class="protocol-slider" init="false">
                <swiper-slide class="slider-slide -600px">    
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 col-xl-8">   
                            <div class="protocol-image">
                                <div class="container-image">                      
                                    <img id="img-1" src="./assets/img/svg/product-line-01.svg" class="image" alt="line 01"/>
                                </div>              
                            </div>         
                        </div>          
                        <div class="col-lg-6 col-xl-4">
                            <div class="protocol-content ms-0 ms-lg-1">
                                <p class="content-marker text-white" data-marker-content="img-1">Cat ipsum dolor sit amet, attack the child i show my fluffy belly but it's a trap!</p>                               
                            </div>
                        </div>              
                    </div>
                </swiper-slide>   
                <swiper-slide class="slider-slide -600px">    
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 col-xl-8">   
                            <div class="protocol-image">
                                <div class="container-image">                      
                                    <img id="img-2" src="./assets/img/svg/product-line-02.svg" class="image" alt="line 01"/>
                                </div>               
                            </div>         
                        </div>          
                        <div class="col-lg-6 col-xl-4">
                            <div class="protocol-content ms-0 ms-lg-1">
                                <p class="content-marker text-white" data-marker-content="img-1">Cat ipsum dolor sit amet, attack the child i show my fluffy belly but it's a trap!</p>                               
                            </div>
                        </div>              
                    </div>
                </swiper-slide> 
                <swiper-slide class="slider-slide -600px">    
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 col-xl-8">   
                            <div class="protocol-image">
                                <div class="container-image">                      
                                    <img id="img-2" src="./assets/img/svg/product-line-03.svg" class="image" alt="line 01"/>
                                </div>               
                            </div>         
                        </div>          
                        <div class="col-lg-6 col-xl-4">
                            <div class="protocol-content ms-0 ms-lg-1">
                                <p class="content-marker text-white" data-marker-content="img-1">Cat ipsum dolor sit amet, attack the child i show my fluffy belly but it's a trap!</p>                               
                            </div>
                        </div>              
                    </div>
                </swiper-slide>                                       
            </swiper-container>
            <div class="swiper-pagination protocol-pagination"></div>
        </ngx-swiper>
    </div>
</div>
