<div class="app-content-container">
    <section class="page-title">
        <div class="container-xxl">
            <div class="heading d-flex align-items-start">
                <div class="heading-title reverse">
                    <h1 class="fs-2qx fw-bolder mb-4">
                        {{ 'header.touTitle' | translate }}
                    </h1>
                </div>
            </div>            
        </div>
    </section>
    <section class="pt-0">
        <div class="d-flex overflow-hidden h-55px border-bottom align-items-center">
            <div class="container-xxl">
                <div class="d-flex align-items-stretch">
                    <ul class="menu menu-row fs-5 fw-bolder align-items-stretch">
                        <li class="menu-item me-6 me-lg-12">
                            <a
                                class="menu-link link text-muted text-active-primary"
                                routerLink="privacidade"
                                routerLinkActive="active">
                                {{ 'nav.privacyNav' | translate }}
                            </a>
                        </li>  
                        <li class="menu-item me-6 me-lg-12">
                            <a
                                class="menu-link link text-muted text-active-primary"
                                routerLink="uso"
                                routerLinkActive="active">
                                {{ 'nav.termsNav' | translate }}
                            </a>
                        </li>                       
                    </ul>     
                </div> 
            </div>    
        </div>
        <div class="container-xxl">              
            <div class="page-content py-10 py-lg-20">
                <router-outlet></router-outlet>
            </div>
        </div>          
    </section>
</div>