//
// Container
//

// Desktop mode
@include media-breakpoint-up(lg) {
	.app-container {
		padding-left: $app-container-padding-x;
		padding-right: $app-container-padding-x;	
	}

	.app-container-fit-desktop {
		padding-left: 0;
		padding-right: 0;
	}
}

// Tablet & mobile modes
@include media-breakpoint-down(lg) {
	.app-container { 
		max-width: none;
		padding-left: $app-container-padding-x-mobile;
		padding-right: $app-container-padding-x-mobile;				
	}
	
	.app-container-fit-mobile {
		padding-left: 0;
		padding-right: 0;
	}
}
