//
// Cookies
//

.app-cookies {
	
	.cookies-consent-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		width: 100vw;
		height: 100vh;
		padding: 0 calc(25.71429px + 1.42857vw);
		z-index: 99999983;
		pointer-events: none;
		opacity: 0;
		visibility: hidden
	}
	@media (min-width: 1700px) {
		.cookies-consent-wrapper {
			padding: 0 50px
		}
	}
	@media only screen and (max-width: 1023px) {
		.cookies-consent-wrapper {
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center
		}
	}
	@media only screen and (max-width: 767px) {
		.cookies-consent-wrapper {
			padding-bottom: 40px
		}
	}
	.cookies-consent-wrapper .inner {
		position: relative;
		margin-bottom: 40px;
		margin-right: 20px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 12px 8px 12px 14px;
		height: 40px;
		top: 0;
		z-index: 1001;

		background-color: hsla(0, 0%, 100%, .9);
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);

		-webkit-border-radius: 40px;
		-moz-border-radius: 40px;
		-ms-border-radius: 40px;	
		border-radius: 40px;

		-webkit-box-shadow: 0 10px 5px 0 rgba(0, 0, 0, .06);
		box-shadow: 0 10px 5px 0 rgba(0, 0, 0, .06);
		pointer-events: visible
	}
	.cookies-consent-wrapper .inner svg {
		position: relative;
		margin-right: 10px
	}
	.cookies-consent-wrapper .inner .text {
		position: relative;
		margin-right: 20px;
		font-family: $font-family-sans-serif;
		font-size: 13px;
		font-weight: 600;
		color: $primary;
		line-height: 1.2em;
		letter-spacing: -.02em
	}
	@media only screen and (max-width: 767px) {
		.cookies-consent-wrapper .inner .text {
			font-size: 12px;
			margin-right: 10px
		}
	}
	.cookies-consent-wrapper .inner .ok-btn {
		padding: 6px 13px;
		margin: 0 auto;
		font-family: $font-family-sans-serif;
		font-weight: 300;
		font-size: 13px;
		font-weight: 300;
		color: $white;
		line-height: 1.2em;
		letter-spacing: -.02em;
		background-color: $primary;
		border-radius: 35px;
		border: 1px solid $primary;
		outline: none;
		cursor: pointer;
		-webkit-transition: color .25s cubic-bezier(.23, 1, .32, 1), background-color .25s cubic-bezier(.23, 1, .32, 1);
		-moz-transition: color .25s cubic-bezier(.23, 1, .32, 1), background-color .25s cubic-bezier(.23, 1, .32, 1);
		-o-transition: color .25s cubic-bezier(.23, 1, .32, 1), background-color .25s cubic-bezier(.23, 1, .32, 1);
		transition: color .25s cubic-bezier(.23, 1, .32, 1), background-color .25s cubic-bezier(.23, 1, .32, 1)
	}
	.cookies-consent-wrapper .inner .ok-btn:hover {
		background-color: $white;
		color: $primary
	}
}