//
// sidebar
//


// General mode
.app-menu-filters {
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 0;
    margin: 0;
    list-style: none;    
    width: 100%;

    .app-menu-link {
        color: var(--#{$prefix}text-dark);
        cursor: pointer;
            
        .app-menu-filter {
            display: flex;
            align-items: center;
            position: relative;
            padding: 0;   
            font-weight: $font-weight-semibold;              
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            cursor: pointer;          
            
            span {
                display: flex;
                align-items: center;
                flex: 0 0 100%;         
                padding: $menu-link-padding-y $menu-link-padding-x;
            }

            span::before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0px;
                height: 5px;
                border-bottom: 2px solid;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: transform .3s;
                transition: transform .3s;
            }    
            
            &.active,
            &:hover {
                color: var(--#{$prefix}text-primary);
                opacity: 1;

                span::before {
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);                  
                }
            }        
        }    
    }
}