<div class="container-xxl">
    <div class="row justify-content-center">
        <div class="section-head align-items-center mb-8">
            <span [translate]="'header.cases'"></span>
        </div>          
    </div>
    <div class="row justify-content-center">
        <ngx-swiper swiperContainerId="partners-slider" [config]="config">
            <swiper-container #swiper class="slider" init="false">
                @for (item of partners.items$ | async; track item.id) {
                    <swiper-slide class="slider-slide">
                        <div class="container-image h-100px">
                            <img 
                                [ngSrc]="item.folder + item.file_name" 
                                [alt]="item.name" 
                                class="image bg-grayscale" 
                                ngSrcset="33w" sizes="33vw" fill 
                            />
                        </div>
                    </swiper-slide>                
                }                    
            </swiper-container>
        </ngx-swiper>   
        <div class="swiper-pagination partner-pagination"></div>
    </div>
</div>