<div class="app-content-container">
    <div class="index-slider">
        <section class="cover fullscreen">
            <app-slider></app-slider>
        </section>
    </div>
    <div class="index-technology">
        <section class="bg-white">
            <app-technology></app-technology>
        </section>
    </div>
</div>
<div class="index-location">
    <div class="separated"></div>
    <section class="z-index-2">
        <div class="app-content-container">
            <app-location></app-location>
        </div>
    </section>
</div>
<div class="index-carousel">
    <div class="separated"></div>
    <section>
        <div class="app-content-container">
            <app-carousel></app-carousel>
        </div>
    </section>
</div>
<!-- Footer -->
<div class="app-content-container">
    <div class="index-cases">
        <section class="bg-white">
            <app-cases></app-cases>
        </section>
    </div>
    <div class="index-blog">
        <section class="bg-white pt-0">
            <app-blog></app-blog>
        </section>
    </div>
</div>