<div class="mb-4">
    <!--Sort-->
    <button 
        type="button" class="btn btn-icon btn-outline btn-outine-primary btn-active-outline-light btn-icon-secondary btn-active-icon-white btn-motion btn-active-motion-primary rounded-4 rotate"
        (click)="sort('date')"
        placement="start" [ngbTooltip]="'button.sortBtn' | translate">
        <span
            [inlineSVG]="'./assets/img/sort.svg'" 
            class="svg-icon svg-icon-muted svg-icon-3 rotate-180">
        </span>          
        <span class="btn-motion-ripple"><span></span></span>
    </button>    
    <!--Toggle-->
    <!--
    <button 
        type="button" class="btn btn-icon btn-outline btn-outine-primary btn-active-transparent btn-icon-secondary btn-active-icon-white btn-motion btn-active-motion-primary rounded-4" 
        data-kt-menu-trigger="click" 
        data-kt-menu-placement="bottom-end"
        data-kt-menu-static="true">
        <svg-icon [src]="'./assets/img/sort.svg'" class="svg-icon svg-icon-3"></svg-icon>
        <span class="btn-motion-ripple"><span></span></span>
    </button>
    <div 
        class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-title-gray-700 fw-semibold w-auto min-w-200 mw-300px" 
        data-kt-menu="true">
        <div class="menu-item px-3">
            <div class="menu-content fs-6 text-gray-900 fw-semibold px-3 py-3">Ordenar</div>
        </div>
        <div class="separator mb-3 opacity-75"></div>        
        <div class="menu-item px-3">
            <a (click)="sort('name')" class="menu-link px-3">
                Nome
            </a>
        </div>   
        <div class="menu-item px-3">
            <a (click)="sort('date')" class="menu-link px-3">
                Data
            </a>
        </div>                
    </div>
    -->
</div>