<div class="container-xxl">
    <div class="row justify-content-center mb-16">
        <div class="section-head align-items-center mb-8">
            <span [translate]="'header.blog'"></span>
        </div>          
    </div>
    <div class="row justify-content-center">
        <ngx-swiper swiperContainerId="blog-slider" [config]="config">
            <swiper-container #swiper class="slider" init="false">
            @for (post of posts.items$ | async; track post.id; let idx = $index) {
                <swiper-slide class="slider-slide">            
                    <a (click)="routeToPage('/blog/' + post.slug)" class="card card-bordered card-rounded card-hover card-stretch overflow-hidden">   
                        <div class="card-body p-0">     
                            @if(post.pictures.thumb !== '') {
                                <div class="card-image h-150px h-lg-200px">
                                    <div class="container-image">
                                        <img 
                                            [ngSrc]="post.pictures.thumb" ngSrcset="100w, 1000w" sizes="(max-width: 540px) 100vw, (max-width: 768px) 50vw, calc(1600px / 3)" placeholder="40" loading="lazy" fetchpriority="auto" fill
                                            [alt]="post.name" 
                                            class="image" 
                                        />                     
                                    </div>
                                </div>
                            }
                            <div class="card-content px-8 py-10">
                                <h4 class="card-title fs-4 fw-bold mb-4" [innerHTML]="post.name | translate:25"></h4>
                                <p 
                                    class="mb-12 mb-lg-24"
                                    [innerHTML]="post.description | safe:'html'">
                                </p>
                                <button class="btn btn-md btn-icon btn-outline btn-active-outline-light btn-active-light btn-icon-gray-500 btn-active-icon-light btn-motion btn-active-motion-primary" aria-label="know more">
                                    <span
                                        [inlineSVG]="'./assets/img/arrow-right.svg'"
                                        class="svg-icon svg-icon-1 ms-1">
                                    </span>                                                      
                                    <span class="btn-motion-ripple"><span></span></span>
                                </button> 
                            </div>                               
                        </div>
                    </a>
                </swiper-slide>    
            } 
            </swiper-container>
            <div class="swiper-pagination blog-pagination"></div>
        </ngx-swiper>   
        <div class="my-4 text-center">
            <button (click)="routeToPage('/blog')" class="btn btn-lg btn-outline btn-active-outline-light btn-active-white btn-motion btn-active-motion-primary" aria-label="Read More">
                <span class="btn-title">
                    <span [title]="'button.viewAllBtn' | translate">{{ 'button.viewAllBtn' | translate }}</span>
                </span> 
                <span class="btn-motion-ripple"><span></span></span>
            </button>            
        </div>   
    </div>
</div>