//
// Bullet
//

// Keenthemes bullet component
$bullet-bg-color: var(--#{$prefix}gray-400) !default;
$bullet-dot-size: 4px !default;
$bullet-bar-height: 4px !default;
$bullet-bar-width: 8px !default;
$bullet-bar-border-radius: 6px !default;
$bullet-line-height: 1px !default;
$bullet-line-width: 5px !default;

// Base
.bullet {
    display: inline-block;
    background-color: var(--#{$prefix}bullet-bg-color); 
    @include border-radius($bullet-bar-border-radius);
    width: $bullet-bar-width;
    height: $bullet-bar-height;
    flex-shrink: 0;
}

// Dot bullet
.bullet-dot {
    width: $bullet-dot-size;
    height: $bullet-dot-size;
    border-radius: 100% !important;
}

// Vertical bullet
.bullet-vertical {
    width: $bullet-bar-height;
    height: $bullet-bar-width;
}

// Vertical line
.bullet-line {
    width: $bullet-line-width;
    height: $bullet-line-height;
    border-radius: 0;
}