//
// Buttons
//

// Button
.btn {
	--#{$prefix}btn-color: var(--#{$prefix}body-color);

	text-transform: lowercase;
	border-radius: $btn-border-radius-pill;
	// Reset outline
	outline: none !important;	

	// Reset focus shadow
	&:not(.btn-shadow):not(.shadow):not(.shadow-sm):not(.shadow-lg):not(.shadow-xs) {
		box-shadow: none;
	}

	// Remove border
	&:not(.btn-outline):not(.btn-dashed):not(.btn-bordered):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon):not(.btn-hover-outline) {
		border: 0;
		padding: calc(#{$btn-padding-y} + #{$btn-border-width}) calc(#{$btn-padding-x} + #{$btn-border-width});

		&.btn-lg {
			padding: calc(#{$btn-padding-y-lg} + #{$btn-border-width}) calc(#{$btn-padding-x-lg} + #{$btn-border-width});
		}

		&.btn-sm {
			padding: calc(#{$btn-padding-y-sm} + #{$btn-border-width}) calc(#{$btn-padding-x-sm} + #{$btn-border-width});
		}
	}

	// Link
	&.btn-link {
		border: 0;
		border-radius: 0;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-decoration: none;
		font-weight: $btn-font-weight;
	}
 
	// Outline
	&.btn-outline:not(.btn-outline-dashed) {
		border: 1px solid $input-border-color;
	}

	// Outline dashed
	&.btn-outline-dashed {
		border: 1px dashed $input-border-color;
	}

	// Flush
	&.btn-flush {
		@include button-reset();
	}

	// Flex
	&.btn-flex {		
		display: inline-flex;
		align-items: center;
	}    
}

// Icons
.btn-motion {
	display: inline-flex;
	align-items: center;	
	justify-content: center;
	overflow: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);

	-webkit-transition: transform .3s;
	transition: transform .3s;

	.btn-motion-ripple {
		position: absolute;
		overflow: hidden;
		display: block;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		border-radius: inherit;
		z-index: -1;
	}

	.btn-motion-ripple span {
		display: block;
		width: 100%;
		height: 100%;
		-webkit-transform: translateY(101%);
		transform: translateY(101%);
		background: currentColor;
		border-radius: 50% 50% 0 0;
		z-index: 0;
		-webkit-transition: -webkit-transform .5s cubic-bezier(.4, 0, 0, 1), border-radius .5s cubic-bezier(.4, 0, 0, 1);	
		transition: transform .5s cubic-bezier(.4, 0, 0, 1), border-radius .5s cubic-bezier(.4, 0, 0, 1);		
	}

	.btn-title {
		position: relative;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: $btn-font-family;
		font-size: $btn-font-size;
		font-weight: $font-weight-semibold;
		z-index: 2;
	}
	
	.btn-title span {
		display: flex;
		align-items: center;
		justify-content: center;
		-webkit-transition: -webkit-ransform .8s cubic-bezier(.16, 1, .3, 1);
		transition: transform .8s cubic-bezier(.16, 1, .3, 1);
	}	

	.btn-title span::after {
		content: attr(title);
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 110%;
		left: 0;
	}	

	@media (pointer: fine) {
		&:hover {
			-webkit-transform: scaleX(1.02);
			transform: scaleX(1.02);
			-webkit-transition: -webkit-transform .6s cubic-bezier(.34, 5.56, .64, 1);
			transition: transform .6s cubic-bezier(.34, 5.56, .64, 1);
		}

		&:hover .btn-motion-ripple span {
			border-radius: 0;
			-webkit-transform: translateY(0);
			transform: translateY(0);
			-webkit-transition-duration: .5s, .9s;
			transition-duration: .5s, .9s;
		}	
		
		&:hover .btn-title span {
			-webkit-transform: translateY(-110%);
			transform: translateY(-110%);
		}		
	}	
}

// Icons
.btn {
	// Font icon
	> i,
	> .btn-icon {
		display: inline-flex;
		font-size: $font-size-base;
		padding-left: 0.35rem;
		vertical-align: middle;
	}

	// Icon only button
	&.btn-icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		height: $input-height;
		width: $input-height;
		line-height: 1;
		z-index: 2;

		i,
		.btn-icon {
			padding-left: 0;	
		}

		// Remove border
		&:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush) {
			border: 0;
		}

		// Sizes
		&.btn-sm {
			height: $input-height-sm;
			width: $input-height-sm;
			 
		}

		&.btn-lg {
			height: $input-height-lg;
			width: $input-height-lg;
		}

		&.btn-circle {
			border-radius: 50%;
		}
	}
}

// Outline hover basic style
.btn.btn-hover-outline {
	border-width: 1px;
	border-style: solid;	
	
	$color: null;
	$icon-color: null;
	$border-color: null;
	$bg-color: null;

	$color-active: null;
	$icon-color-active: null;
	$border-color-active: $input-border-color;
	$bg-color-active: null;

	@include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
}

// Theme colors
@each $name, $value in $theme-colors {
	// Base
	.btn.btn-#{$name} {
		$color: var(--#{$prefix}#{$name}-inverse);
		$icon-color: var(--#{$prefix}#{$name}-inverse);
		$border-color: var(--#{$prefix}#{$name});
		$bg-color: var(--#{$prefix}#{$name});

		$color-active: var(--#{$prefix}#{$name}-inverse);
		$icon-color-active: var(--#{$prefix}#{$name}-inverse);
		$border-color-active: var(--#{$prefix}#{$name}-active);
		$bg-color-active: var(--#{$prefix}#{$name}-active);

		@include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
	}

	// Active
	.btn.btn-active-#{$name} {
		$color: null;
		$icon-color: null;
		$border-color: null;
		$bg-color: null;

		$color-active: var(--#{$prefix}#{$name}-inverse);
		$icon-color-active: var(--#{$prefix}#{$name}-inverse);
		$border-color-active: var(--#{$prefix}#{$name});
		$bg-color-active: var(--#{$prefix}#{$name});

		@include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
	}    

	// Outline
	.btn.btn-outline.btn-outline-#{$name} {
		$color: var(--#{$prefix}#{$name});
		$icon-color: var(--#{$prefix}#{$name}-inverse);
		$border-color: var(--#{$prefix}#{$name}-light);
		$bg-color: transparent;

		$color-active: var(--#{$prefix}#{$name}-active);
		$icon-color-active: var(--#{$prefix}#{$name}-active);
		$border-color-active: var(--#{$prefix}#{$name}-light);
		$bg-color-active: var(--#{$prefix}#{$name}-light);

		@include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
	}  

	.btn.btn-outline.btn-active-outline-#{$name} {
		$color: null;
		$icon-color: null;
		$border-color: null;
		$bg-color: null;

		$color-active: var(--#{$prefix}#{$name}-active);
		$icon-color-active: var(--#{$prefix}#{$name}-active);
		$border-color-active: var(--#{$prefix}#{$name});
		$bg-color-active: transparent;

		@include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
	}  	
	
	// Ripple colors active state
	.btn.btn-active-motion-#{$name} > .btn-motion-ripple span {
		$color: null;
		$icon-color: null;
		$border-color: null;
		$bg-color: var(--#{$prefix}#{$name});

		$color-active: null;
		$icon-color-active: null;
		$border-color-active: null;
		$bg-color-active: null;

		@include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
	}

	.btn.btn-active-motion-#{$name} .btn-title span::after {
		$color: var(--#{$prefix}#{$name}-inverse);
		$icon-color: var(--#{$prefix}#{$name}-inverse);
		$border-color: null;
		$bg-color: null;

		$color-active: null;
		$icon-color-active: null;
		$border-color-active: null;
		$bg-color-active: null;

		@include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
	}	
}

// Theme text colors
@each $name, $value in $theme-text-colors {
	// Text and icon colors
	.btn.btn-color-#{$name} {
		$color: var(--#{$prefix}text-#{$name});
		$icon-color: var(--#{$prefix}text-#{$name});
		$bg-color: null;
		$border-color: null;

		$color-active: null;
		$icon-color-active: null;
		$border-color-active: null;
		$bg-color-active: null;

		@include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
	}

	// Text and icon colors active state
	.btn.btn-active-color-#{$name} {
		$color: null;
		$icon-color: null;
		$border-color: null;
		$bg-color: null;

		$color-active: var(--#{$prefix}text-#{$name});
		$icon-color-active: var(--#{$prefix}text-#{$name});
		$border-color-active: null;
		$bg-color-active: null;

		@include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
	}

	// Icon colors 
	.btn.btn-icon-#{$name} {
		$color: null;
		$icon-color: var(--#{$prefix}text-#{$name});
		$bg-color: null;
		$border-color: null;

		$color-active: null;
		$icon-color-active: null;
		$border-color-active: null;
		$bg-color-active: null;

		@include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
	}  

	// Icon colors active state
	.btn.btn-active-icon-#{$name} {
		$color: null;
		$icon-color: null;
		$bg-color: null;
		$border-color: null;

		$color-active: null;
		$icon-color-active: var(--#{$prefix}text-#{$name});
		$border-color-active: null;
		$bg-color-active: null;

		@include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
	}	
	
	// Text colors
	.btn.btn-text-#{$name} {
		$color: var(--#{$prefix}text-#{$name});
		$icon-color: null;
		$bg-color: null;
		$border-color: null;

		$color-active: null;
		$icon-color-active: null;
		$border-color-active: null;
		$bg-color-active: null;

		@include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
	}

	// Text colors active state
	.btn.btn-active-text-#{$name} {
		$color: null;
		$icon-color: null;
		$bg-color: null;
		$border-color: null;

		$color-active: var(--#{$prefix}text-#{$name});
		$icon-color-active: null;
		$border-color-active: null;
		$bg-color-active: null;

		@include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
	}
			
}