//
// Card
//

// Base
.card {    
    --#{$prefix}card-box-shadow: var(--#{$prefix}root-card-box-shadow);
    --#{$prefix}card-border-color: var(--#{$prefix}root-card-border-color);

    @if ($card-border-enabled)  {
        border: $card-border-width $card-border-style var(--#{$prefix}card-border-color);
    } @else {
        border: 0;
    }  

    // Body
    .card-body {
        padding: $card-py $card-px;
        color: var(--#{$prefix}card-color);
    }

    // Footer
    .card-footer {
        padding: $card-py $card-px;
        color: var(--#{$prefix}card-cap-color);
        background-color: var(--#{$prefix}card-cap-bg);
        border-top: $card-border-width $card-border-style var(--#{$prefix}card-border-color);
    }    

    // Flush header and footer borders
    &.card-flush {
        > .card-header {
            border-bottom: 0 !important;
        }

        > .card-footer {
            border-top: 0 !important;
        }
    }
    
    // Enable shadow
    &.card-shadow {
        box-shadow: var(--#{$prefix}card-box-shadow);
        border: 0;
    }

    // Bordered style
    &.card-bordered {
        box-shadow: none;
        border: $card-border-width $card-border-style $card-border-color;
    }    

    // Reset styles
    &.card-reset {
        border: 0 !important;
        box-shadow: none !important;
        background-color: transparent !important;

        > .card-header {
            border-bottom: 0 !important;
        }

        > .card-footer {
            border-top: 0 !important;
        }
    }  
    
    // Reset borders
    &.card-border-0 {
        border: 0 !important;
    }    
}

// Responsive stretch heights
.card {
    @each $breakpoint in map-keys($grid-breakpoints) {
    	@include media-breakpoint-up($breakpoint) {
    		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

            // Stretch
            &.card#{$infix}-stretch {
                height: calc(100% - var(--#{$prefix}gutter-y));
            }

            // Stretch 75
            &.card#{$infix}-stretch-75 {
                height: calc(75% - var(--#{$prefix}gutter-y));
            }

            // Stretch 50
            &.card#{$infix}-stretch-50 {
                height: calc(50% - var(--#{$prefix}gutter-y));
            }

             // Stretch 33
            &.card#{$infix}-stretch-33 {
                height: calc(33.333% - var(--#{$prefix}gutter-y));
            }

            // Stretch 25
            &.card#{$infix}-stretch-25 {
                height: calc(25% - var(--#{$prefix}gutter-y));
            }

            // Header stretch
            .card-header#{$infix}-stretch {
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                align-items: stretch;
    
                .card-toolbar {
                    margin: 0;
                    align-items: stretch;
                }
            }
        }
    }
}

// Utilities
.card-p {
    padding: $card-py $card-px !important;
}

.card-px {
    padding-left: $card-px !important;
    padding-right: $card-px !important;
}

.card-shadow {
    box-shadow: var(--#{$prefix}card-box-shadow);
}

.card-py {
    padding-top: $card-py !important;
    padding-bottom: $card-py !important;
}

.card-rounded {
    border-radius: $card-border-radius-xl;
}

.card-hover {
    cursor: pointer;

    &:hover,
    &:focus,
    .active {
        border-color: var(--#{$prefix}text-primary);
        color: var(--#{$prefix}text-white);

        -webkit-transition: color 0.2s ease, border-color 0.3s ease;
        transition: color 0.2s ease, border-color 0.3s ease;    
        
        .card-content {
            .card-title {
                color: var(--#{$prefix}text-primary);
                -webkit-transition: color 0.2s ease;
                transition: color 0.2s ease;                  
            }
    
            .btn.btn-outline {
                border-color: var(--#{$prefix}text-primary);
            }
    
            .svg-icon {
                color: var(--#{$prefix}text-primary);
            }          
        }
    }
}

// Theme colors
@each $name, $value in $theme-colors {
	// Base
	.card.card-#{$name} {
		background-color: var(--#{$prefix}#{$name});
	}
}