//
//  Tooltip
//


// Base
.tooltip {
    .tooltip-inner {
        box-shadow: var(--#{$prefix}tooltip-box-shadow);
    }

    &.tooltop-auto-width {
       	.tooltip-inner {
       		white-space: nowrap;
  			max-width: none;
        }
    }

    &.tooltip-inverse {
        --#{$prefix}tooltip-color: var(--#{$prefix}dark-inverse);
        --#{$prefix}tooltip-bg: var(--#{$prefix}dark);
    }
}